* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: sans-serif;
  min-width: 100vw;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 4rem auto 7rem;
  text-align: center;
  align-items: center;
}
.heading {
  text-align: center;
  font-size: 25px;
  font-family: Verdana;
  color: #203040;
  margin-bottom: 10px;
}
#matter {
  text-align: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
  margin: 1rem;
  font-size: larger;
}
.text {
  text-align: center;
  align-items: center;
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
}
.input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
  text-align: center;
  align-items: center;
}
#check-button {
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  margin: auto;
  display: block;
  background-color: #203040;
  color: #fff;
}

#error-message {
  display: block;
  font-size: larger;
  margin: 1rem 0 0;
}

/*Table*/
.change-table {
  width: 50%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
}

.change-table caption {
  margin: 1rem auto;
  font-size: x-large;
  font-weight: 500;
}

th,
td {
  border: 2px solid #203040;
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
  text-align: center;
}

/*Footer*/

#footer {
  background-color: #203040;
  padding: 2rem 2rem 2rem;
  font-size: 15px;
  font-weight: var(--font-semi);
  text-align: center;
}

.footer-icon {
  font-size: 1.5rem;
  color: #fff;
  width: 20px;
  height: 20px;
  margin: 0.5px;
  margin-right: 10px;
  margin-bottom: var(--mb-4);
}
.footer-social {
  margin-bottom: var(--mb-4);
  padding-bottom: 10px;
}

#footer #header {
  color: #7d7d7d;
  padding-top: 10px;
  font-size: large !important;
}

#footer #copyright {
  margin-top: 0.5em;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
  color: #7d7d7d;
}
.footer-title {
  color: #7d7d7d;
  font-size: 20px;
  margin-bottom: 20px;
}
a {
  display: inline;
}
